body {
background-color: rgb(139, 0, 0 black);
margin-top:0px;
margin-right:0px;
margin-bottom:0px;
margin-left:0px;
color:black;
}
h1 {
    font-family: 'Aclonica', sans-serif;
    color:black;

}
    
h2 {
    font-family: 'Spectral SC', serif;
    color:black;
}
header{
  color:black;
}
